<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="js/soundCloud.js"></script>
    <!--<script src="http://www.youtube.com/apiplayer?enablejsapi=1&version=3" type="application/x-shockwave-flash"></script>-->

    <script src="js/angular.js"></script>
    <script src="js/angular-mediagular.js"></script>

    <script src="js/main.js"></script>
</head>
<body ng-app="myApp">
<div>
    <ng-mediagular name="myPlayer" scapi="9ef64d670479529e01751d02e66662bc">

    </ng-mediagular>
    <br/>

    <button ng-click="mediagular.myPlayer.play()">play</button>
    <button ng-click="mediagular.myPlayer.pause()">pause</button>
    <button ng-click="mediagular.myPlayer.toggle()">toggle</button>
    <button ng-click="mediagular.myPlayer.stop()">stop</button>
    <button ng-click="mediagular.myPlayer.playQue()">play que</button>
    <br/>
    <button ng-click="mediagular.myPlayer.playMedia({src: 'nfWlot6h_JM',provider: 'youtube'})">single</button>
    <button ng-click="mediagular.myPlayer.playMedia({src: 'https://api.soundcloud.com/tracks/163038821/stream?client_id=9ef64d670479529e01751d02e66662bc',provider: 'soundcloud'})">single</button>
</div>
</body>
</html>